:root {
  --body-max-width: 900px;

  --button-bg-color: var(--link-color);
  --button-text-color: #ffffff;
  --card-bg-color: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-bg-color: var(--link-color);
    --button-text-color: #202125;
    --card-bg-color: #283647;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  text-align: center;
  color: #000000;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}

textarea {
  height: 70px !important;
  margin: 0;
}

.demo-section {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.demo-section input {
  margin: 0;
}

.demo-section textarea {
  height: 41px !important;
}

.card {
  background-color: var(--card-bg-color);
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  margin-bottom: 1.5rem;
}

.card pre {
  margin: 0.5rem 0 0 0;
  max-height: 100px;
  overflow: auto;
}

.card pre:empty {
  display: none !important;
}

/* Component custom styling */
clipboard-copy:not(:defined) {
  display: none;
}

clipboard-copy::part(button) {
  min-height: 41px;
  border: 0;
  border-radius: 6px;
  padding: 10px 30px;
  background: var(--button-base);
  color: var(--form-text);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

clipboard-copy::part(button--disabled) {
  cursor: not-allowed;
}

clipboard-copy::part(button--success) {
  background: #28a745;
  color: #ffffff;
}

clipboard-copy::part(button--error) {
  background: #dc3545;
  color: #ffffff;
}
